body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
   background-size: cover;
   */

   /*background: color image repeat position/size */
   background: var(--bg-url) no-repeat top center/cover;

}
* { 
margin: 0;
padding: 0;
box-sizing: border-box;

}
body* {
font-family: "Inter", sans-serif;
color: var(--text-color);




}
:root {
    --text-color: white;
  
    --bg-url: url(./assets/bg-mobile.jpg);
    --switch-bg-url:url(./assets/moon-stars.svg);

}
.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --switch-bg-url:url(./assets/sun.svg);
}


#container {
    width: 360px;
    /* borda para guiar 
    
     border: 1px solid red; 
     */
  margin: 56px auto 0px;
  padding: 0 24px;

    
    
}


#profile {
    text-align: center;
    padding: 24px;
    color: var(--text-color);
   
   
}

#profile img{
    
    width: 112px;

     
}
#profile p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color);
    margin-top: 10px;

   
} 
#switch {
    position: relative;
    margin: 4px auto;
    width: 64px;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat  center;
    border: 0px;
    border-radius: 50%;
    background-image: var(--switch-bg-url);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button { 
    right: 0;
    left: initial;

}

#switch span {
  display: block;
  width: 64px;  
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px ;
}



 ul li a{
   font-family: "Inter", sans-serif;
    color: var(--text-color);
display: flex;
justify-content: center;
padding: 16px 24px;
align-items: center;
background:rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 8px;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
text-decoration: none;
font-weight: 500;
font-size: 14px;
    line-height: 20px;

    transition: background .3s;

}
ul{
 list-style: none;   
 display: flex;
 flex-direction: column;
 gap: 8px;
padding: 20px;
}
ul li 
{
 
 color: var(--text-color);
 
 }
 ul li a:hover {
    background:rgba(255, 255, 255, 0.05);
border: 1.5px solid var(--text-color);

 }

 #social-links {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    gap: 16px;

    padding: 32px 0;

    font-size: 26px;
     }
 footer {
    font-size: 12px;
    padding: 24px 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    
 }
 #prof img {
 padding: 32px 0;
   position: relative;
    margin: 4px auto;
    width: 64px;
}
 }
  